<html>

	<head>
		<title>DribbleBeat</title>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<link href="css/main.css" rel="stylesheet">
		<link href="css/hover-min.css" rel="stylesheet">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity: "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin: "anonymous" ></script>
		
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAiyKoJP1MfrcatiaCVMIYGa4bzPP7xLTU&libraries=places"></script>

		<script src="js/jquery.geocomplete.min.js"></script>
	</head>
	<body>

		<img src="img/logo.png" class="logo">

		{{#if user}}

			<div class="nav">
				<div class="goto hvr-bob">
					<a href="/">
						<i class="fa fa-home fa-3x" aria-hidden="true"></i>
						<p>Home</p>
					</a>
				</div>
				<div class="goto hvr-bob">
					<a href="/add_game">
						<i class="fa fa-futbol-o fa-3x" aria-hidden="true"></i>
						<p>Add A Game</p>
					</a>
				</div>
				<div class="goto hvr-bob">
					<i class="fa fa-search fa-3x" aria-hidden="true"></i>
					<p>Find A Game</p>
				</div>
				<div class="goto hvr-bob">
					<i class="fa fa-users fa-3x" aria-hidden="true"></i>
					<p>Friends</p>
				</div>
			</div>

		{{else}}
			
			<div class="nav" style="width: 208px !important">
				<div class="goto hvr-bob">
					<a href="/">
						<i class="fa fa-home fa-3x" aria-hidden="true"></i>
						<p>Home</p>
					</a>
				</div>
				<div class="goto hvr-bob">
					<a href="/login">
						<i class="fa fa-sign-in fa-3x" aria-hidden="true"></i>
						<p>Sign Up</p>
					</a>
				</div>
				<div class="goto hvr-bob">
					<a href="/signup">
						<i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
						<p>Sign Up</p>
					</a>
				</div>
			</div>

		{{/if}}


		<div class="container">
			{{{body}}}
		</div>

		<br>
	</body>

	<script>
	</script>
</html>