<div class="text-center">
</div>

<div class="container">

    <div class="jumbotron text-center">
    	{{#if user.local.email }}
	        <p>Signed In As: <br>
	        	<b>{{ user.local.email }}</b>
	        </p>
	        <a href="/logout" class="btn btn-default btn-lg">Logout</a>
        {{else}}
        	<h1></span>Welcome!</h1>

	        <p>Login or Register:</p>

	        <a href="/login" class="btn btn-default"><i class="fa fa-sign-in"></i> Log In</a>
	        <a href="/signup" class="btn btn-default"><i class="fa fa-user-plus"></i> Sign Up</a>
        {{/if}}
    </div>

</div>