h1(class="text-center") Add A Game

form(action="/quotes" method="POST")

	input(type="text" placeholder="Enter Location" name="location" class="form-control") 

	input(type="text" placeholder="Enter Time" name="time" class="form-control")

	div(class="row")

		div(class="col-lg-6 col-md-6 col-sm-6 col-xs-6")
			h3(class="text-center") Min
			input(type="number" placeholder="Enter Minimum Amount of Players" name="minimum" min="2" class="form-control")

		div(class="col-lg-6 col-md-6 col-sm-6 col-xs-6")
			h3(class="text-center") Max
			input(type="number" placeholder="Enter Maximum Amount of Players" name="maximum" min="2" class="form-control")

	button(type="submit" class="btn btn-success btn-block") Submit

hr
br
div
	each game in games
		div(data-id='"'+game._id+'"' class="col-lg-4 col-md-6 col-sm-12 text-center box")
			div
				h3= game.location
				hr 
				h4= game.time
				p Min: 
					span= game.minimum
				p Max: 
					span= game.maximum

				button(class="btn btn-danger delete-this") Delete

script(src="js/main.js")