body {
	color: #2a516b;
}

.logo {
	margin: 50px auto;
	display: block;
	max-width: 300px;
}

form {
	max-width: 500px;
	margin: 0 auto;
}

form .form-control {
	margin: 15px 0;
}

.box {
}

.box div {
	margin: 15px;
	padding: 10px;
	border: 10px solid #abdeff;
}

.show-location {
	color: #5cb85c;
}

input[placeholder] {
	text-align: center;
}

.nav {
	display: block;
	width: 339px;
	margin: 0 auto;
	position: relative;
	top: -40px;
}

.goto {
	text-align: center;
    display: inline-block;
    margin: 10px;
}

.goto i {
	color: #66BCF4
}

.goto p {
	color: #000;
	position: relative;
	top: 10px;
}

