
div
	each game in games
		div(data-id='"'+game._id+'"' class="col-lg-4 col-md-6 col-sm-12 text-center box")
			div
				h1= game.location 
				h3= game.time
				p Min: 
					span= game.minimum
				p Max: 
					span= game.maximum

				button(class="btn btn-danger delete-this") Delete

script(src="js/main.js")